<nav class="navbar navbar-dark bg-dark sticky-top shadow shadow-md">
  <span class="navbar-brand mb-0 h1 ps-3">E-Valuator</span>
  <i class="fas fa-user text-light pe-3"></i>
</nav>

<nav>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="top">
      <a ngbNavLink routerLink="/"><i class="fa fa-check-square py-2 px-2 fs-4 " aria-hidden="true"></i></a>
    </li>
    <li ngbNavItem="bottom">
      <a ngbNavLink routerLink="/report">
        <i class="fas fa-chart-bar py-2 px-2 fs-4" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
  <router-outlet></router-outlet>



