ul {
  list-style-type: none;
  margin: 0;
  padding: 0;;
  width: auto;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
}
::ng-deep .nav-fill .nav-link.active {
  margin-top: -1px;
  border-top: 2px solid #22577E;
}

::ng-deep .nav-pills .nav-link.active,
::ng-deep .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #22577E;
}
