<div class="results shadow-md mt-5 p-3">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h2 class="form-label">Feedback</h2>
    </div>
  </div>
  <div class="m-4">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th scope="row">Target Keywords</th>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Similarity Score values</th>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Final Score</th>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="feedback m-4">
    <h5>General Feedback</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
  </div>
  <div class="row m-4">
    <div class="submit d-md-flex justify-content-md-end">
      <button type="submit" class="btn me-3">Add to Student Report</button>
      <button type="submit" class="btn">Add new question</button>
    </div>
  </div>
</div>



